<html>
<head>
<link data-n-head="ssr" rel="icon" type="image/x-icon" href="/favicon.ico">
<link data-n-head="ssr" rel="stylesheet" href="/css/bootstrap.min.css">
<link data-n-head="ssr" rel="stylesheet" href="/css/custom.css">
<link data-n-head="ssr" rel="stylesheet" href="/css/global.css">
<script data-n-head="ssr" src="/js/bootstrap.bundle.min.js"></script>
<title>The Fathers Beer</title>
</head>
<body class="">
  <div>
    <!-- Desktop Navbar -->
    <div class="d-none d-md-block">
      <div class="d-flex justify-content-center py-3 nav-gap">
      <div class="w-25">
      <div class="d-flex justify-content-end nav-gap">
      <div class="custom-nav-items align-items-center">
        <a class="menu-item-border pb-2" href="/">
            <span class="font-cj navitems fs-2">Home</span>
        </a>
      </div>
      <div class="custom-nav-items align-items-center">
        <a class="menu-item-border pb-2 menu-item-active" href="/what-the-fog">
        <span class="font-cj navitems fs-2">WHAT THE FOG?</span>
        </a>
      </div>
      </div>
      </div>
      <div>
        <div class="border-bottom border-5 border-blue">
          <a href="/">
            <img class="header-logo mb-2" src="/img/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="w-25">
      <div class="d-flex justify-content-start nav-gap">
        <div class="custom-nav-items align-items-center">
        <a class="menu-item-border pb-2" href="/wheres-the-fog">
        <span class="font-cj navitems fs-2">WHERE’S THE FOG?</span>
        </a>
      </div>
        <!-- <div class="custom-nav-items align-items-center">
        <a class="menu-item-border pb-2" href="#">
        <span class="font-cj navitems">SHOP</span>
        </a>
      </div> -->
      <div class="custom-nav-items align-items-center">
        <a class="menu-item-border pb-2" href="/contact">
        <span class="font-cj navitems fs-2">CONTACT</span>
        </a>
      </div>
      </div>
      </div>
    </div>
    </div>
    <!-- Desktop Navbar END -->

    <!-- Mobile Navbar -->
    <div class="d-md-none">
      <div class="mobile-header container-xl mb-4">
        <div class="px-3 py-3">
          <div class="d-flex flex-row justify-content-between">
          <div class="border-bottom border-5 border-blue d-flex align-self-center">
            <a href="/">
              <img class="header-logo-mobile mb-2" src="/img/logo.png" alt="">
          </a>
          </div>
          <div class="d-flex align-self-center">
            <span type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <svg height="45px" width="45px" style="filter: invert(9%) sepia(77%) saturate(6590%) hue-rotate(210deg) brightness(91%) contrast(105%);" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11 16.745c0-.414.336-.75.75-.75h9.5c.414 0 .75.336.75.75s-.336.75-.75.75h-9.5c-.414 0-.75-.336-.75-.75zm-9-5c0-.414.336-.75.75-.75h18.5c.414 0 .75.336.75.75s-.336.75-.75.75h-18.5c-.414 0-.75-.336-.75-.75zm4-5c0-.414.336-.75.75-.75h14.5c.414 0 .75.336.75.75s-.336.75-.75.75h-14.5c-.414 0-.75-.336-.75-.75z" fill-rule="nonzero"/></svg>
            </span>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Mobile Navbar END -->

    <!-- OFFCANVAS -->

  <div class="offcanvas offcanvas-end homepage-yellow" tabindex="-1" ref="menuOffcanvas" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body custom-nav-items">
    <hr class="mb-1">
    <div>
      <a class="menu-item-border pb-2" href="/">
            <span class="font-cj navitems">Home</span>
        </a>
    </div>
    <hr class="mt-3 mb-1">
    <div>
      <a class="menu-item-border pb-2" href="/what-the-fog">
        <span class="font-cj navitems">WHAT THE FOG?</span>
        </a>
    </div>

    <hr class="mt-3 mb-1">
        <a class="menu-item-border pb-2" href="/wheres-the-fog">
        <span class="font-cj navitems">WHERE’S THE FOG?</span>
        </a>
    <hr class="mt-3 mb-1">
        <a class="menu-item-border pb-2" href="/contact">
        <span class="font-cj navitems">CONTACT</span>
        </a>
    <hr class="mt-3">
  </div>
</div>

    <!-- OFFCANVA END -->
  </div>
 <div>
    <div class="container-xl py-3 px-4">
      <!-- <div class="row">
    <div class="col-7">
      <div class="d-flex justify-content-end mt-5">
        <div>
          <div class="font-daniel fs-1">It all began in an</div>
          <div class="font-daniel fs-1">apartment in Hunter’s Hill</div>
          <div class="mt-3">
              <img style="width: 300px;" src="/img/line.png" />
          </div>
          <p class="font-daniel w-75 fs-5 mb-4">
          It all began in an apartment in Hunter’s Hill. When the creator of this beer one day woke up in his apartment and told his partner that he was going to make the perfect beer. He hustled hard brewing the beer in his tiny enclosed laundry working through nights and weekends. One night as he was doing so, he slept fell asleep on the job leaving the 30 litres of wrot boiling way beyond the intended time. It overflowed and created a thick fog around it waking him to wake up which made him think - ‘What the Fog?’ 
        </p>
          <div class="font-cj fs-3 mt-4" style="text-decoration: underline;">huh? whatchu mean -></div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="d-flex justify-content-start">
        <img style="width: 350px;" src="/img/homepage-can.png" />
      </div>
    </div>
  </div> -->
  <div>
    <div class="float-lg-end text-center">
    <img class="homepagecan" src="/img/homepage-can.png" />
      
    </div>
    <div class="font-daniel fs-1 mt-3">The Balcony Project: What the fog?</div>
          <div class="mt-3">
              <img style="width: 90vw; max-width: 400px;" src="/img/line.png" />
          </div>
    <p class="font-daniel fs-5 mb-4">
          It all began in an apartment in Hunter’s Hill. When the creator of this beer one day woke up in his apartment and told his partner that he was going to make the perfect beer. He hustled hard brewing the beer in his tiny enclosed laundry working through nights and weekends. One night as he was doing so, he slept fell asleep on the job leaving the 30 litres of wrot boiling way beyond the intended time. It overflowed and created a thick fog around it waking him to wake up which made him think - ‘What the Fog?’ 
        </p>
    <p class="font-daniel fs-5 mb-4">
          The apartment was in a mess and stank. But the beer came out great. His partner, someone who strives for excellence in everything remarked - ‘I like it’. The beer brewing project moved from his laundry to the rooftop balcony. Four years of hustle through the nights and weekends to perfect the recipe and today we have it with us. 
        </p>
        <p class="font-daniel fs-5">
          FOG FATHER. The best wheat beer that any cellar in Sydney can offer. 
          </p>
  </div>
    </div>
    <div class="homepage-yellow">
      <div class="container-xl py-5">
      <div class="row gx-4">
        <div class="col-12 col-lg-6">
      <div class="text-center">
        <video autoplay loop muted class="rounded-4 w-100" style="max-width: 90vw;">
          <source src="/video/can-animationv2.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-flex align-self-center">
      <div class="mx-auto" style="max-width: 90vw;">
        <div class="ps-2">
          <div class="font-cj" style="font-size: 50px;">it might change the way you drink</div>
          <div class="mt-3">
              <img style="width: 300px;" src="/img/line.png" />
          </div>
          <a class="font-daniel fs-3 mt-4" style="text-decoration: underline; color: #000" href="#whyfog">show me how</a>
        </div>
      </div>
    </div>
  </div>
    </div>
    </div>


        <div id="whyfog" class="bg-light-gray">
      <div class="container-xl py-5">
      <h1 class="font-daniel text-center mb-5">Why fog?</h1>
      <table class="mx-auto"  style="max-width: 750px;">
      <thead>
      <tr>
      <th class="width: 300px"></th>
      <th></th>
      </tr>
      </thead>
      <tbody class="font-daniel">
      <tr class="pb-4">
      <td class="fs-2 pe-5">appearance</td>
      <td class="fs-4 ps-3">light golden foggy</td>
      </tr>
            <tr  class="pb-4">
      <td class="fs-2 pe-5">nose</td>
      <td class="fs-4  ps-3">subtle apricot mixed with aroma of fresh bake</td>
      </tr>            <tr  class="pb-4">
      <td class="fs-2 pe-5">taste</td>
      <td class="fs-4  ps-3">it’s bright and crisp with bit of honey drizzle ,custard apple and refreshing lemon tart with lingering peppery finish</td>
      </tr>            <tr>
      <td class="fs-2 pe-5">palate</td>
      <td class="fs-4  ps-3">medium bodied</td>
      </tr>
      </tbody>
      </table>
    </div>
    </div>
    <!-- <div>
      <div class="py-5 container-xl text-center">
        <h3 class="font-daniel mb-4">What the fog?</h3>
        <p class="font-daniel w-75 mx-auto fs-5 mb-4">
          It all began in an apartment in Hunter’s Hill. When the creator of this beer one day woke up in his apartment and told his partner that he was going to make the perfect beer. He hustled hard brewing the beer in his tiny enclosed laundry working through nights and weekends. One night as he was doing so, he slept fell asleep on the job leaving the 30 litres of wrot boiling way beyond the intended time. It overflowed and created a thick fog around it waking him to wake up which made him think - ‘What the Fog?’ 
        </p>
        <p class="font-daniel w-75 mx-auto fs-5 mb-4">
          The apartment was in a mess and stank. But the beer came out great. His partner, someone who strives for excellence in everything remarked - ‘I like it’. The beer brewing project moved from his laundry to the rooftop balcony. Four years of hustle through the nights and weekends to perfect the recipe and today we have it with us. 
        </p>
        <p class="font-daniel w-75 mx-auto fs-5">
          FOG FATHER. The best wheat beer that any cellar in Sydney can offer. 
          </p>
      </div>
    </div> -->
  </div>




    <div>
      <div class="container-xl font-tg text-center pb-2">
      <span style="font-size: .75rem;">Under the Liquor Reform Act 1998 it is an offence to supply alcohol to a person under the age of 18 years (penalty exceeds $17.000), for a person under the age of 18 years to purchase or receive liquor (penalty exceeds $700).</span>
    </div>
    <div class="bg-light-gray py-2 font-tg">
    <div class="d-none d-md-block">
      <div class="container-xl d-flex justify-content-between">
        <div>
          <a target="_blank" href="https://www.instagram.com/thefathersbrewingco/">            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path d="M14.667 12c0 1.473-1.194 2.667-2.667 2.667-1.473 0-2.667-1.193-2.667-2.667 0-1.473 1.194-2.667 2.667-2.667 1.473 0 2.667 1.194 2.667 2.667zm3.846-3.232c.038.843.046 1.096.046 3.232s-.008 2.389-.046 3.233c-.1 2.15-1.109 3.181-3.279 3.279-.844.038-1.097.047-3.234.047-2.136 0-2.39-.008-3.232-.046-2.174-.099-3.181-1.132-3.279-3.279-.039-.845-.048-1.098-.048-3.234s.009-2.389.047-3.232c.099-2.152 1.109-3.181 3.279-3.279.844-.039 1.097-.047 3.233-.047s2.39.008 3.233.046c2.168.099 3.18 1.128 3.28 3.28zm-2.405 3.232c0-2.269-1.84-4.108-4.108-4.108-2.269 0-4.108 1.839-4.108 4.108 0 2.269 1.84 4.108 4.108 4.108 2.269 0 4.108-1.839 4.108-4.108zm1.122-4.27c0-.53-.43-.96-.96-.96s-.96.43-.96.96.43.96.96.96c.531 0 .96-.43.96-.96zm6.77-7.73v24h-24v-24h24zm-4 12c0-2.172-.009-2.445-.048-3.298-.131-2.902-1.745-4.52-4.653-4.653-.854-.04-1.126-.049-3.299-.049s-2.444.009-3.298.048c-2.906.133-4.52 1.745-4.654 4.653-.039.854-.048 1.127-.048 3.299 0 2.173.009 2.445.048 3.298.134 2.906 1.746 4.521 4.654 4.654.854.039 1.125.048 3.298.048s2.445-.009 3.299-.048c2.902-.133 4.522-1.745 4.653-4.654.039-.853.048-1.125.048-3.298z"/></svg>
          </a>
          <a target="_blank" href="https://www.facebook.com/thefathersbeer">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>  
          </a>
          <a target="_blank" href="info@thefathers.beer">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z"/></svg>
          </a>
        </div>
        <div>
          <span style="font-size: .8rem;">© The Fathers Brewing Company Pty Ltd LIQP770017509 All Rights Reserved. ACN 641 491 876.</span>
        </div>
        <div>
        <NuxtLink to="/terms-and-conditions">
          <span style="font-size: .8rem; text-decoration: none;" class="text-dark">Terms & Conditions</span>
        </NuxtLink>
        </div>
      </div>
      </div>

    <div class="d-md-none">
      <div class="container-xl d-flex flex-column justify-content-between" style="row-gap: 8px;">
        <div>
          <a target="_blank" href="https://www.instagram.com/thefathersbrewingco/">            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path d="M14.667 12c0 1.473-1.194 2.667-2.667 2.667-1.473 0-2.667-1.193-2.667-2.667 0-1.473 1.194-2.667 2.667-2.667 1.473 0 2.667 1.194 2.667 2.667zm3.846-3.232c.038.843.046 1.096.046 3.232s-.008 2.389-.046 3.233c-.1 2.15-1.109 3.181-3.279 3.279-.844.038-1.097.047-3.234.047-2.136 0-2.39-.008-3.232-.046-2.174-.099-3.181-1.132-3.279-3.279-.039-.845-.048-1.098-.048-3.234s.009-2.389.047-3.232c.099-2.152 1.109-3.181 3.279-3.279.844-.039 1.097-.047 3.233-.047s2.39.008 3.233.046c2.168.099 3.18 1.128 3.28 3.28zm-2.405 3.232c0-2.269-1.84-4.108-4.108-4.108-2.269 0-4.108 1.839-4.108 4.108 0 2.269 1.84 4.108 4.108 4.108 2.269 0 4.108-1.839 4.108-4.108zm1.122-4.27c0-.53-.43-.96-.96-.96s-.96.43-.96.96.43.96.96.96c.531 0 .96-.43.96-.96zm6.77-7.73v24h-24v-24h24zm-4 12c0-2.172-.009-2.445-.048-3.298-.131-2.902-1.745-4.52-4.653-4.653-.854-.04-1.126-.049-3.299-.049s-2.444.009-3.298.048c-2.906.133-4.52 1.745-4.654 4.653-.039.854-.048 1.127-.048 3.299 0 2.173.009 2.445.048 3.298.134 2.906 1.746 4.521 4.654 4.654.854.039 1.125.048 3.298.048s2.445-.009 3.299-.048c2.902-.133 4.522-1.745 4.653-4.654.039-.853.048-1.125.048-3.298z"/></svg>
          </a>
          <a target="_blank" href="https://www.facebook.com/thefathersbeer">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>  
          </a>
          <a target="_blank" href="info@thefathers.beer">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z"/></svg>
          </a>
        </div>
        <div>
        <NuxtLink to="/terms-and-conditions">
          <span style="font-size: .8rem; text-decoration: none;" class="text-dark">Terms & Conditions</span>
        </NuxtLink>
        </div>
        <div>
          <span style="font-size: .8rem;">© The Fathers Brewing Company Pty Ltd LIQP770017509 All Rights Reserved. ACN 641 491 876.</span>
        </div>
      </div>
      </div>
    </div>
    </div>
</body>
</html>